<div class='navbar navbar-inverse'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-2 vertical-align-nav'>
        <a root-hide='$state.$current.parent.name' type='button' class='btn btn-primary' ng-click='back()'>
          <small path-name='$state.$current.parent.name'></small>
        </a>
        <a root-show='$state.$current.parent.name' type='button' class='btn btn-primary' ng-click='show.options = !show.options'>
          <i class='icon-reorder'></i>
        </a>
      </div>
      <div class='col-xs-8 center-text'>
        <h3 class='vertical-align-nav-text' path-name='$state.current.name'></h3>
      </div>
      <div class='col-xs-2 vertical-align-nav'>
        <!--        <button type="button" class="btn btn-primary btn-sm"><i class='icon-plus'></i></button> -->
      </div>
    </div>
  </div>
</div>

<div class='container navfix-top'>
  <div ui-view ></div>
</div>
