<ul class="nav nav-tabs">
  <li ng-class="{ active: $state.includes('music.all')}">
    <a ui-sref="music.all">All</a>
  </li>
  <li ng-class="{ active: $state.includes('music.genres') || $state.includes('music.genre')}">
    <a ui-sref="music.genres">Genres</a>
  </li>
</ul>

<div class='navfix-top' ui-view></div>

<div ng-show='selectedSong' class='inverse-text footer container'> 
  <div class='row vertical-align-nav'>
    <div class='col-xs-10'>
      <small>{{selectedSong.name}}, {{selectedSong.artist}}</small>
    </div>
    <div class='col-xs-2'>
      <play-button src='selectedSong.src' size='1'></play-button>
    </div>
  </div>
</div>
