<div class='container'>
  <h1> Welcome to Lyricoo </h1>
  <p> Before we get started, please take a look at the terms of service and click the 
  'Accept' button if you're ready to proceed.
  </p>
  <div class='well'>
    <div >
      <button ng-click='accept()' type='button' class='btn btn-sml btn-success'> Accept </button>
      <button ng-click='reject()' type='button' class='btn btn-sml btn-danger'> Reject </button>
    </div>
  </div>
  <hr>
  <h2> Terms of Service </h2>
  
  <h4> LYRICOO INC. </h4>
  <h5> Evaluation Terms of Use Agreement for Demo </h5>
  <p>  
    {{terms}}    
  </p>

  
  </div>
